body{
  color:rgb(24, 13, 236);
  font-family: Verdana;
  line-height: 1.4em;
  font-size: .9em;
  background-image: url(wall4.jpg);
}
h1{
  text-align: center;
  text-transform: capitalize;
  border: 1px;
  padding: 10px;
  border-radius: 180px;
  border-style: solid;
  background-image: url(blue1961.jpg);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
p{
  text-indent: 1cm;
}
a{
  text-decoration: none;
}
a:visited{
  color: rgb(36, 138, 0);
  font-style: italic;
}
a.pdf {
  margin: 1em 0;
  float: left;
  clear: left;
  color: #E37529;
  padding: 0 0 0 18px;
  background: url(pdf.png) no-repeat left center;
  background-size: 20px;
}
table{
  border-spacing: 0px;
  border-collapse: collapse;
  background-color: white;
  text-align: center;
}

table tr:nth-child(even){
  background-color: rgb(155, 158, 155);
}

table tr{
  color: black;
  border: 3px solid black;
}

table td{
  color: black;
  border: 3px solid black;
}

td.css{
  background: url(css3.png) no-repeat left center;
}

td.html{
  background: url(html5.png) no-repeat left center;
}

td.css, td.html{
  background-size: 50px 50px;
  padding-left: 53px;
  padding-top: 25px;
  padding-bottom: 25px;
  vertical-align: center;
}

.css:active, .html:active{
  background-color: #FFFF66;
}

span{
  font-family: Comic;
  font-style: italic;
  color: black;
}

td.html5{
  vertical-align: bottom;
}
