input {
  border-radius: 5px;

}

input:focus {
  outline-color: purple;
  background-color: rgb(158, 158, 158);
}

textarea {
  height: 40px;
  border-radius: 5px;
  overflow: scroll;
}

textarea:focus {
  outline-color: purple;
  background-color: rgb(158, 158, 158);
}

select {
  border-radius: 5px;
}

select:focus {
  outline-color: purple;
  background-color: rgb(158, 158, 158);
}

label {
  width: 12%;
  float: left;
}

p.nota {
  font-style: italic;
  border: 2px dotted black;
  padding: 1em;
}

input.pass {
  height: 10mm;
}
